<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Parks&Recreation - Reports Site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/bower_components/morrisjs/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/bower_components/metisMenu/dist/metisMenu.min.js")"></script>

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">*@
    @*<link href="~/Content/jquery-ui-themes-1.12.0/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/Content/jquery-ui-themes-1.12.0/themes/base/jquery-ui.css" rel="stylesheet" />

    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@
    @*<script src="~/Content/jquery-ui-1.12.0/jquery-ui.min.js"></script>*@
    <script src="~/Content/jquery-ui-1.12.0/jquery-ui.js"></script>



</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        @Html.Action("Index", "Navbar")

        <div style="top:500px;padding-top:100px" id="page-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-6" id="divMS" hidden="hidden">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">2</div>
                                    <div>Reports!</div>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("MSReports", "Home")">
                            <div class="panel-footer">
                                <span class="pull-left">M&S Application</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" id="divUMS" hidden="hidden">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">.</div>
                                    <div>Reports!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">UMS Application</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" id="divPD" hidden="hidden">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">.</div>
                                    <div>Reports!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">P&D</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" id="divAccounting" hidden="hidden">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">.</div>
                                    <div>Reports!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Accounting</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> 


            
            @RenderBody()          
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
         
    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/raphael/raphael-min.js")"></script>
 
    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
            //var pointer = @User.Identity.Name;
            //if(pointer =="PARKS\fkim")

            @*@if(@)
            {
                $("#divMS").hide(1000);
            }
            else
            {
            }*@
            $.ajax({
                // edit to add steve's suggestion.
                //url: "/ControllerName/ActionName",
                url: '@Url.Action("GetGroupsJsonUsingModel", "Account")',
                success: function (data) {
                    // your data could be a View or Json or what ever you returned in your action method 
                    // parse your data here
          //console.log("JSON Data: " + data.)
                    //alert(data);
                    var items = [];
                    $.each(data, function (i, item) {
                        //alert(data[i].Name);
                        var groupName = data[i].Name;

                       
                        // M&S Group

                        if (groupName.search('OSD') >= 0)
                        {
                            $("#divMS").show();
                        }

                        //UMS Group
                        if (groupName.search('Util') >= 0) {
                            $("#divUMS").show();
                        }

                        //Planning and Development
                        if (groupName.search('PND') >= 0 ) {
                            $("#divPD").show();
                        }
                        //Accounting Group
                        if (groupName.search('Accou') >= 0) {
                            $("#divAccounting").show();
                        }
                        // Admin Group Show All the Div

                        if (groupName == 'Systems Development Section') {
                            $("#divMS").show();
                            $("#divUMS").show();
                            $("#divPD").show();
                            $("#divAccounting").show();
                        }

                    });

                }
            });
        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>

